{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "serviceworker": true,
    "worker": true,
    "commonjs": true
  },
  "extends": ["eslint:recommended", "plugin:svelte/recommended"],
  "rules": {},
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "parser": "@typescript-eslint/parser",
      "plugins": [],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "rules": {}
    },
    {
      "files": ["*.svelte"],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ]
}
